.DS_Store
*.*~
*.swp
*.swo
*.pot
*.py[co]
__pycache__
*.egg-info
.env/*
dist/*
build/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.code-workspace
.idea
.vscode
frontend/node_modules
frontend/webpack-stats.json
frontend/dist
