
#app {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    >.navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: white;
        border: 1px solid #EBEDF8;

        .branding {
            font-weight: bold;
            font-size: 1.1rem;
            color: #212529;
        }
    }

    #sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 57px;
        width: 200px;

        background-color: #272C38;
        border-right: 1px solid #DFE3E8;

        .nav-pills .nav-link {
            color: #fff;

            &.active {
                background-color: #1E222E;
                border-radius: 0;
                border-left: 0.3rem solid #00C187;
                padding-left: 0.7rem;
            }

        }
    }

    #maincontent {
        position: fixed;
        left: 200px;
        bottom: 0;
        top: 57px;
        right: 0;
    }

    .heading {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        background-color: #f1f6fa;
        border-bottom: 1px solid #EBEDF8;
    }
}


.plugins {
    .plugin-item {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #EBEDF8;
    }
}

.admin {
    .djangoapp {
        table {
            margin-bottom: 0;
            
            tr:first-child td {
                border: none !important;
             }

        }
    }
}

.designer {
    overflow: scroll;
    position: relative;

    .model {
        padding: 0.1rem 0.3rem;
        position: absolute;
        min-width: 150px;
        border-radius: 2px;

        &.selected {
            border: 1px solid #00f !important;
            box-shadow: 0px 0px 4px #00f;
        }

        &.active {
            box-shadow: 1px 1px 4px ", " #ccc;
            z-index: 100;
            margin-left: -4px;
            margin-top: -4px;
            padding-left: 8px;
            padding-top: 6px;
            box-shadow: 0px 0px 4px #ccc;
        }
    }
}

.appcolors .modal-dialog {
    max-width: 700px;
}

.sortable-ghost {
    opacity: 0.3;
}